* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.image {
    height: 80vh;
    width: 100vw;
}

.pic {
    height: 100%;
    width: 100%;
    background-size: cover;
    object-fit: cover;
}

.heading {
    position: absolute;
    text-align: left;
    top: 10%;
    left: 10%;
    color: rgb(255, 248, 248);
    font-size: 4rem;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    letter-spacing: 5px;
}

.text1 {
    position: absolute;
    text-align: left;
    top: 40%;
    left: 10%;
    color: rgb(255, 248, 248);
    font-size: 10rem;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    letter-spacing: 5px;
}

.section1 {
    height: 400px;
    width: 100vw;
    background-color: #7da2a9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.con1,
.con2 {
    height: 250px;
    width: 500px;
    padding: 0 20px;
}

.head1 {
    font-size: 2rem;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: right;
    margin: 40px;
    text-transform: uppercase;
    color: white;
}

.head2 {
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: right;
    margin: 40px;
    text-transform: uppercase;
}

.para1 {
    text-align: justify;
    padding-top: 40px;
    font-size: 1rem;
    color: azure;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    line-height: 24px;
}

.section2 {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first {
    width: 500px;
    padding-top: 80px;
}

.mini1 {
    font-size: 1.8rem;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.5px;
    padding: 0 20px 20px 20px;
}

.mini2 {
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: justify;
}

.second {
    margin: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    width: 60vw;
    height: 100%;
}

.box {
    height: 300px;
    width: 300px;
    border: 1px solid rgb(217, 201, 217);
    border-radius: 10px;
    box-shadow: 10px 10px 8px 10px #ecebeb;
}

.b1 {
    font-size: 1.2rem;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.5px;
    padding: 70px 20px 20px 20px;
}

.b2 {
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    line-height: 24px;
    line-height: 20px;
    text-align: justify;
    padding: 20px 20px 20px 20px;
}

.third {
    height: 550px;
    width: 100vw;
    background-color: #18181e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    height: 70%;
    width: 400px;
}

.right {
    height: 70%;
    width: 500px;
    color: white;
}

.books {
    height: 100%;
    width: 100%;
}

.head_1 {
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    font-weight: 750;
    text-align: left;
    margin: 40px;
    text-transform: uppercase;
}

.para2 {
    font-size: 0.9rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 22px;
    text-align: left;
    margin: 40px;
    text-align: justify;
}

.rm {
    padding: 10px 20px 10px 20px;
    border: none;
    background-color: #7da2a9 !important;
    color: white;
    margin: 40px;
}

.fourth {
    height: auto;
    padding-top: 80px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery {
    width: 550px;
}

.hd1 {
    font-size: 1.8rem;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.5px;
    padding: 0 20px 20px 20px;
}

.hd2 {
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: justify;
}

.images {
    height: 100%;
    width: 50%;
    color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 4rem 1rem 1rem 1rem;
    flex-wrap: wrap;
}

.picture {
    height: 400px;
    width: 400px;
    background-size: cover;
    object-fit: cover;
}

.count {
    width: 100vw;
    height: 40vh;
    background-color: #7da2a9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.5px;
}

#count1 {
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.countbox {
    height: 100px;
    width: 100px;
}


.countbox h2 {
    font-size: 2rem;
    padding: 10px;
}

.tag {
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 10px;
}

.fifth {
    width: 100vw;
    height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgCon {
    height: auto;
    width: auto;
    overflow: hidden;
}

.imgCon img {
    width: 770px;
    height: 500px;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
}

.last {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100vw;
}

.lastRight {
    height: 50vh;
    background-color: #7da2a9;
    width: 100%;
    padding: 5rem;
}

.lastLeft {
    height: 50vh;
    background-color: #18181e;
    width: 100%;
}

.last1 {
    width: 400px;
    font-size: 1.8rem;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    line-height: 40px;
    text-transform: uppercase;
    margin-top: 50px;
    color: white;
}

.last2 {
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    color: #ecebeb;
    margin-top: 20px;
    line-height: 24px;
    letter-spacing: 1px;
}

.thirdlast {
    width: 200px;
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    line-height: 24px;
    margin-top: 50px;
    color: white;
}

.lastLeft {
    display: flex;
    padding: 10rem;
    flex-direction: column;
    gap: 2.5rem;
}

.in {
    width: 500px;
    background-color: #18181e;
    border: 1px solid gray;
    height: 60px;
    padding: 10px 20px 10px 20px;
}

#subBtn {
    width: 100px;
    padding: 10px 20px 10px 20px;
    background-color: #7da2a9;
    color: #18181e;
    font-size: 1rem;
}

.ftr {
    height: 100px;
    width: 100vw;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ecebeb;
    font-size: 0.8rem;
    font-family: "Lato", sans-serif;
}


/* Base styles here... */

/* Media Queries */

/* For Tablets (up to 768px) */
@media (max-width: 768px) {
    .image {
        height: 60vh;
    }

    .heading {
        font-size: 3rem;
        top: 5%;
    }

    .text1 {
        font-size: 6rem;
        top: 25%;
    }

    .section1 {
        height: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .con1,
    .con2 {
        width: 100%;
        padding: 0 10px;
        height: min-content;
    }

    .head1 {
        font-size: 1.5rem;
        text-align: center;
        margin: 20px 0;
    }

    .head2 {
        font-size: 1.2rem;
        text-align: center;
        margin: 20px 0;
    }

    .para1 {
        font-size: 0.9rem;
        line-height: 22px;
        padding: 5px;
    }

    .section2 {
        width: 90%;
        padding: 20px;
    }

    .first {
        width: 100%;
        text-align: center;
        padding: 15px;
    }

    .mini1 {
        font-size: 1.5rem;
    }

    .mini2 {
        font-size: 0.9rem;
    }

    .second {
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .box {
        height: 20vh;
        width: 75%;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .b1 {
        margin: 0;
        padding: 20px;
        font-size: 1rem;
    }

    .b2 {
        font-size: 0.8rem;
    }

    .third {
        height: auto;
        flex-direction: column;
        padding: 20px;
    }

    .left,
    .right {
        width: 100%;
        height: auto;
    }

    .left{
        width: 90%;
        padding-top: 50px;
        height: auto;
    }



    .books {
        width: 100%;
    }

    .head_1 {
        font-size: 1.2rem;
    }

    .para2 {
        font-size: 0.8rem;
    }

    .rm {
        padding: 8px 16px;
        margin: 20px 40px;
    }

    .hd1{
        padding: 20px;
    }
    .hd2{
        padding: 20px;
    }

    .fourth {
        width: 100%;
        padding: 20px;
    }

    .count{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: max-content;
    }

    .countbox{
        margin: 15px 10px;
        height: min-content;
    }

    .countbox h2 {
        font-size: 1rem;
        padding: 0;
    }

    .tag {
        font-size: 0.8rem;
        text-transform: uppercase;
        padding: 0;
    }

    .gallery {
        width: 100%;
    }
    .fifth {
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    .imgCon img {
        width: 100%;
        height: 90%;
        background-size: cover;
        object-fit: cover;
    }

    .images {
        flex-direction: column;
        gap: 1rem;
    }

    .picture {
        width: 100%;
        height: auto;
    }

    .fifth {
        flex-direction: column;
        align-items: center;
    }

    .imgCon img {
        width: 100%;
        height: auto;
    }

    .last {
        flex-direction: column;
        height: auto;
    }

    .lastRight,
    .lastLeft {
        width: 100%;
        padding: 20px;
    }

    .last1 {
        font-size: 1.5rem;
    }

    .last2,
    .thirdlast {
        font-size: 0.9rem;
    }

    .in {
        width: 100%;
    }

    #subBtn {
        width: 100%;
    }
}















/* For Phones (up to 600px) */
@media (max-width: 600px) {
    .image {
        height: 50vh;
    }

    .heading {
        font-size: 2rem;
        top: 2%;
    }

    .text1 {
        font-size: 4rem;
        top: 10%;
    }

    .section1 {
        height: auto;
        padding: 10px;
    }

    .con1,
    .con2 {
        width: 100%;
        padding: 0 5px;
    }

    .head1 {
        font-size: 1.2rem;
        text-align: center;
        margin: 10px 0;
    }

    .head2 {
        font-size: 1rem;
        text-align: center;
        margin: 10px 0;
    }

    .para1 {
        font-size: 0.8rem;
        line-height: 20px;
    }

    .section2 {
        width: 100%;
        padding: 10px;
    }

    .first {
        width: 100%;
        text-align: center;
    }

    .mini1 {
        font-size: 1.2rem;
    }

    .mini2 {
        font-size: 0.8rem;
    }

    .second {
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .box {
        height: 20vh;
        width: 75%;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .b1 {
        margin: 0;
        padding: 20px;
        font-size: 1rem;
    }

    .b2 {
        font-size: 0.8rem;
    }

    .third {
        height: auto;
        flex-direction: column;
        padding: 10px;
    }

    .left,
    .right {
        width: 100%;
        height: auto;
    }
    
    .left{
        width: 85%;
        padding-top: 50px;
        height: auto;
    }

    .right{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
    }


    .books {
        width: 100%;
    }

    .head_1 {
        font-size: 1rem;
        margin: 20px;
    }

    .para2 {
        font-size: 0.7rem;
        margin: 20px;
    }

    .rm {
        padding: 6px 12px;
        margin: 20px 0;
    }

    .count{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: max-content;
    }

    .countbox{
        margin: 15px 10px;
    }

    .countbox h2 {
        font-size: 1rem;
        padding: 0;
    }

    .tag {
        font-size: 0.8rem;
        text-transform: uppercase;
        padding: 0;
    }

    .fourth {
        width: 100%;
        padding: 10px;
    }

    .hd1{
        padding: 20px;
    }
    .hd2{
        padding: 20px;
    }

    .gallery {
        width: 100%;
    }

    .images {
        flex-direction: column;
        gap: 2rem;
    }

    .picture {
        width: 100%;
        height: auto;
    }

    .fifth {
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    .imgCon img {
        width: 100%;
        height: 90%;
        background-size: cover;
        object-fit: cover;
    }

    .last {
        flex-direction: column;
        height: auto;
    }

    .lastRight,
    .lastLeft {
        width: 100%;
        padding: 50px;
    }

    .last1 {
        font-size: 1.2rem;
        width: 250px;
        margin: 0;
    }

    .last2,
    .thirdlast {
        font-size: 0.8rem;
    }

    .in {
        width: 100%;
    }

    #subBtn {
        width: 50%;
        border: none;
        color: #ecebeb;
    }
}